@font-face {
    font-family: 'Reikna Regular';
    src: url(/recursos/fonts/Reikna.ttf);
}

@font-face {
    font-family: 'Bon Vivant';
    src: url(/recursos/fonts/BonVivant-Regular.ttf);
}

@font-face {
    font-family: 'Altero Regular';
    src: url(/recursos/fonts/Altero-Regular.otf);
}

@font-face {
    font-family: 'Raleway';
    src: url(/recursos/fonts/Raleway-Regular.ttf);
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0 auto;
}

body {
    overflow-x: hidden;
}

/* aca inicia el header */
header {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    display: flex;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 2;

}

.logo {
    width: 90%;
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
}

.logo a {
    text-decoration: none;
    color: rgba(227, 23, 38, 1);
}

.logo p {
    text-transform: lowercase;
    letter-spacing: 2px;
    font-family: 'Bon Vivant';
    font-weight: 800;
    font-size: 20px;
}

.logo h1 {
    line-height: 0.7;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Reikna Regular';
    font-weight: 400;
    font-size: 50px;
}

.logo span {
    text-transform: uppercase;
    line-height: 2;
    letter-spacing: 0.3em;
    font-family: 'Raleway';
    font-size: 8px;
    font-weight: 900;
}

.carrito {
    color: rgba(227, 23, 38, 1);
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contador-carrito {
    background-color: rgba(227, 23, 38, 1);
    color: #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    font-weight: 900;
    margin-left: 17px;
    margin-top: -30px;
}

/* aca termina el header */


/* aca empieza el navbar */
.navbar {
    width: 100%;
    height: auto;
    background-color: rgba(227, 23, 38, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 125px;
}

.navbar a {
    position: relative;
    text-transform: uppercase;
    padding: 6px 10px;
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Raleway';
    font-size: 12px;
    font-weight: 600;
    transition: .5s;
    z-index: 1;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid rgba(255, 207, 230, 1);
    border-bottom: 2px solid rgba(255, 207, 230, 1);
    transform: scaleY(2);
    opacity: 0;
    transition: .3s;
}

.navbar a::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 207, 230, 1);
    transform: scale(0);
    opacity: 0;
    transition: .3s;
    z-index: -1;
}

.navbar a:hover {
    color: rgba(227, 23, 38, 1);
}

.navbar a:hover::before {
    transform: scaleY(1);
    opacity: 1;
}

.navbar a:hover::after {
    transform: scaleY(1);
    opacity: 1;

}

/* aca termina el navbar */

/* aca empieza el main */
.hero-image {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    background: linear-gradient(rgba(227, 23, 38, 0.8), rgba(227, 23, 38, 0.8)), url(https://res.cloudinary.com/axiever/image/upload/v1665354353/hero-img_lyeejz.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}

.hero-text {
    width: 280px;
    font-family: 'Raleway';
    text-transform: uppercase;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text p {
    padding: 10px;
}

.hero-text h2 {
    padding: 10px;
}

.small-galery {
    width: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.small-galery-text {
    width: 80%;
    padding: 10px;
}

.small-galery-text p {
    line-height: 0.7;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Reikna Regular';
    font-weight: 400;
    font-size: 40px;
    color: rgba(227, 23, 38, 1);
    padding-bottom: 10px;
}

.small-galery-text i {
    text-transform: lowercase;
    letter-spacing: 2px;
    font-family: 'Bon Vivant';
    font-weight: 400;
    font-size: 34px;
    color: rgba(227, 23, 38, 1);
}

.small-galery-text span {
    color: rgba(96, 96, 96, 1);
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 0.2em;
    font-size: 10px;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 600;
}

.small-galery-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;

}

.small-galery-items img {
    width: 260px;
    height: 260px;
    margin: 20px 20px;
}

.small-galery-items img:hover {
    background: linear-gradient(rgba(232, 60, 75, 0.8), rgba(232, 60, 75, 0.8))
}

.button {
    background-color: rgba(255, 207, 230, 1);
    padding: 10px 15px;
    margin-top: 10px;
    text-decoration: none;

}

.button .btn {
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 0.2em;
    font-size: 12px;
    text-align: center;
    font-family: 'Raleway';
    color: rgba(227, 23, 38, 1);
    text-decoration: none;
}

.button:hover {
    background-color: rgb(255, 143, 197);
}

.more-options {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.option-one, .option-two {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.option-one {
    background-color: rgba(255, 207, 230, 1);
}

.option-two {
    background-color: rgb(255, 143, 197);
}

.option-one a, .option-two a {
    text-decoration: none;
    text-align: center;
    width: 200px;
}

.option-one i, .option-two i {
    color: rgba(227, 23, 38, 1);
}

.option-one h2, .option-two h2 {
    color: rgba(227, 23, 38, 1);
    text-transform: lowercase;
    line-height: 0.7;
    letter-spacing: 0em;
    font-size: 40px;
    text-align: center;
    font-family: 'Reikna Regular';
    font-weight: 400;
    padding: 10px;
}

.option-one p, .option-two p {
    color: rgba(227, 23, 38, 1);
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 0.2em;
    font-size: 10px;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 400;
    padding: 10px;
}

.message {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.499), rgba(0, 0, 0, 0.499)), url(https://res.cloudinary.com/axiever/image/upload/v1665652675/wepik-photo-mode-2022913-4154_ylrjnf.png) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-message {
    width: 300px;
    padding: 40px;
    background-color: #ffffff85;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-message p {
    color: rgba(227, 23, 38, 1);
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 0.2em;
    font-size: 12px;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 400;
    padding: 10px;
}

.card-message h2 {
    color: rgba(227, 23, 38, 1);
    text-transform: lowercase;
    line-height: 0.7;
    letter-spacing: 0em;
    font-size: 50px;
    text-align: center;
    font-family: 'Reikna Regular';
    font-weight: 400;
    padding: 10px;
}

.card-message i {
    text-transform: lowercase;
    letter-spacing: 2px;
    font-family: 'Bon Vivant';
    font-weight: 400;
    font-size: 45px;
    color: rgba(227, 23, 38, 1);
    font-style: normal;
}

.carrusel {
    width: 100%;
    display: flex;
    align-items: center;
}

.carrusel-items {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 40px 40px;
}

.carrusel-item {
    min-width: 230px;
    max-width: 230px;
    height: 230px;
    margin: 5px;

}

.carrusel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrusel-item:hover {
    transform: scale(1.1);
}

.navbar-footer {
    width: 100%;
    height: auto;
    background-color: rgba(227, 23, 38, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.navbar-footer a {
    position: relative;
    text-transform: uppercase;
    padding: 6px 20px;
    margin: 0 5px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Raleway';
    font-size: 12px;
    font-weight: 600;
    transition: .5s;
}

.redes {
    width: 100%;
    height: auto;
    background-color: rgba(227, 23, 38, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.redes a {
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 5px;
    color: #ffffff;
    font-size: 19px;
    font-weight: 600;
}

.sect-dev {
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}

.sect-dev a {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 6px 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #656565;
    font-family: 'Raleway';
    font-size: 9px;
    font-weight: 400;
}


.card-scustoms {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 203, 228);
    padding: 20px;
}

.card-scustoms a {
    text-decoration: none;
    text-align: center;
    width: 280px;
}

.card-scustoms span {
    color: rgba(227, 23, 38, 1);
    ;
}

.card-scustoms i {
    text-transform: lowercase;
    letter-spacing: 2px;
    font-family: 'Bon Vivant';
    font-weight: 400;
    font-size: 40px;
    color: rgba(227, 23, 38, 1);
}

.card-scustoms h2 {
    color: rgba(227, 23, 38, 1);
    text-transform: lowercase;
    line-height: 0.7;
    letter-spacing: 0em;
    font-size: 40px;
    text-align: center;
    font-family: 'Reikna Regular';
    font-weight: 400;
    padding: 10px;
}

.card-scustoms p {
    color: rgba(227, 23, 38, 1);
    line-height: 1.4;
    letter-spacing: 0.2em;
    font-size: 12px;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 400;
    padding: 10px;
}

.scustoms-collections {
    padding: 40px 0px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.scustoms-collections .texto {
    width: 280px;
    height: 280px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto i {
    text-transform: lowercase;
    letter-spacing: 2px;
    font-family: 'Bon Vivant';
    font-weight: 400;
    font-size: 42px;
    color: rgba(227, 23, 38, 1);
}

.texto h2 {
    color: rgba(227, 23, 38, 1);
    text-transform: lowercase;
    line-height: 0.7;
    letter-spacing: 0em;
    font-size: 60px;
    text-align: center;
    font-family: 'Reikna Regular';
    font-weight: 400;
    padding: 10px;
}

.scustoms-collections .producto {
    width: 280px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.scustoms-collections img {
    width: 260px;
    height: 260px;
}


.scustoms-collections p {
    margin-top: 10px;
    text-transform: uppercase;
    line-height: 2;
    letter-spacing: 0.3em;
    font-family: 'Raleway';
    font-size: 12px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.scustoms-collections span {
    margin-top: 10px;
    text-transform: uppercase;
    line-height: 2;
    letter-spacing: 0.3em;
    font-family: 'Raleway';
    font-size: 8px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.side-cart {
    margin-top: 5px;
    margin-right: 5px;
    height: 98%;
    width: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.75);
}

.side-cart-header {
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    width: 80%;
}

.side-cart p {
    line-height: 0.7;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Reikna Regular';
    font-weight: 400;
    font-size: 40px;
    color: rgba(227, 23, 38, 1);
    margin: 5px;
}

.side-cart span {
    line-height: 0.7;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 100;
    font-size: 20px;
    color: rgba(227, 23, 38, 1);
    margin: 5px;
    cursor: pointer;
}

hr {
    background-color: rgba(227, 23, 38, 1);
    width: 80%;
    margin: 0px auto;
}

.producto-sideCart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    padding: 20px 0px;
}

.producto-sideCart img {
    width: 14.28%;
    height: auto;
    margin-left: 10px;

}

.producto-sideCart p {
    text-transform: uppercase;
    line-height: 2;
    letter-spacing: 0.08em;
    font-family: 'Raleway';
    font-size: 10px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    width: 14.28%;
}

.btn-eliminar i {
    font-size: 18px;
    margin: 0px 10px;
    width: 14.28%;
}

.total-compra {
    background-color: rgba(227, 23, 38, 1);
    width: 100%;
    padding: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.total-compra p {
    color: #ffffff;
    font-size: 24px;
}

.total-compra span {
    font-size: 24px;
    color: #ffffff;
    font-family: 'Bon Vivant';
    font-style: normal;
    width: 20%;
}

.btn-pagar {
    background-color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 700;
    color: rgba(227, 23, 38, 1);
    font-size: 12px;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.swal2-icon {
    width: 70px;
    height: 70px;
}

.swal2-popup {
    border-radius: 0px !important;
}

.swal2-title {
    font-family: 'Reikna Regular' !important;
    font-weight: 500 !important;
    font-size: 40px !important;
    text-transform: uppercase !important;
    color: rgba(227, 23, 38, 1) !important;
}

.swal2-html-container {
    font-family: 'Raleway' !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    text-transform: uppercase !important;
    color: rgba(0, 0, 0, 1) !important;
}

.swal2-confirm {
    background-color: rgba(227, 23, 38, 1) !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    font-family: 'Raleway' !important;
    font-weight: 700 !important;
    color: #ffffff !important;
    font-size: 12px !important;
    padding: 10px 20px !important;
    border-radius: 2px !important;
    cursor: pointer !important;
}

.swal2-cancel {
    background-color: #ffffff !important;
    text-decoration: none !important;
    font-family: 'Raleway' !important;
    font-weight: 700 !important;
    color: rgba(227, 23, 38, 1) !important;
    font-size: 12px !important;
    padding: 10px 20px !important;
    border-radius: 2px !important;
    cursor: pointer !important;
    border-style: solid !important;
    border-color: rgba(227, 23, 38, 1) !important;
    border-width: 1px !important;
}

.carousel-item{
    width: 100%;
    height: 80vh;
    position: relative !important;
    background-size: cover !important;
}

.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.process{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 40px;
}

.header-process{
    color: rgba(227,23,38,1);
    text-transform: lowercase;
    line-height: 1.4;
    letter-spacing: 0em;
    font-size: 60px;
    text-align: center;
    font-family: 'Reikna Regular';
    font-weight: 400;
    font-style: normal;
}

.pasos{
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.pasos div{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding-top: 40px;
}

.pasos h2{
    color: rgba(227,23,38,1);
    text-transform: lowercase;
    line-height: 1.2;
    letter-spacing: 0em;
    font-size: 40px;
    text-align: center;
    font-family: 'Reikna regular';
    font-weight: 600;
}

.pasos p{
    color: rgba(43,41,45,1);
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 0.2em;
    font-size: 14px;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 600;
    font-style: normal;
}

.pasos span{
    color: rgba(96,96,96,1);
    text-transform: none;
    line-height: 2.2;
    letter-spacing: 0em;
    font-size: 14px;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
}

/*mediaqueries*/
@media (max-width: 950px) {
    .pasos div {
      width: 100%;
    }
  }