@font-face {
    font-family: 'Reikna Regular';
    src: url(/recursos/fonts/Reikna.ttf);
}

@font-face {
    font-family: 'Bon Vivant';
    src: url(/recursos/fonts/BonVivant-Regular.ttf);
}

@font-face {
    font-family: 'Altero Regular';
    src: url(/recursos/fonts/Altero-Regular.otf);
}

@font-face {
    font-family: 'Raleway';
    src: url(/recursos/fonts/Raleway-Regular.ttf);
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

html {
    height: 100%;
    position: relative;
  }

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
/* aca inicia el header */
header{   
    background-color: #ffffff;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding-top: 20px;
}

.logo{
    text-align: center;
    padding-bottom: 20px;
}

.logo a{
    text-decoration: none;
    color: rgba(227,23,38,1);
}

.logo p{
    text-transform: lowercase;
    letter-spacing: 2px;
    font-family: 'Bon Vivant';
    font-weight: 800;
    font-size: 20px;
}

.logo h1{
    line-height: 0.7;
    letter-spacing: 1px;    
    text-align: center;
    font-family: 'Reikna Regular';
    font-weight: 400;
    font-size: 50px;
}

.logo span{
    text-transform: uppercase;
    line-height: 2;
    letter-spacing: 0.3em;
    font-family: 'Raleway';
    font-size: 8px;
    font-weight: 900;
}
/* aca termina el header */


/* aca empieza el navbar */
.navbar{
    width: 100%;
    height: fit-content;
    background-color:rgba(227,23,38,1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.navbar a{
    position: relative;
      text-transform: uppercase;
      padding: 6px 20px;
      margin: 0 5px;
      text-decoration: none;
      color: #ffffff;
      font-family: 'Raleway';
      font-size: 12px;
      font-weight: 600;
      transition: .5s;
      z-index: 1;

}
 
.navbar a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid rgba(255,207,230,1);
    border-bottom: 2px solid rgba(255,207,230,1);
    transform: scaleY(2);
    opacity: 0;
    transition: .3s;
}

.navbar a::after{
    content: '';
        position: absolute;
        top: 2px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,207,230,1);
        transform: scale(0);
        opacity: 0;
        transition: .3s;
        z-index: -1;
}

.navbar a:hover{
    color: rgba(227,23,38,1);
}

.navbar a:hover::before{
    transform: scaleY(1);
    opacity: 1;
}

.navbar a:hover::after{
    transform: scaleY(1);
    opacity: 1;

}
/* aca termina el navbar */

/* aca empiza el main */
.hero-image{
    position: relative;
    width: 100vw;
    height: 50vh;
    overflow: hidden;
    background:linear-gradient(rgba(227, 23, 38, 0.8), rgba(227, 23, 38, 0.8)), url(https://res.cloudinary.com/axiever/image/upload/v1665354353/hero-img_lyeejz.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}

.hero-text{
    width: 280px;
    font-family: 'Altero Regular';
    text-transform: lowercase;
    color: white;
}
